.cart{
  width: 100%;
  background-image: url('../../assets/bcg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
 
}
.cart h1{
  text-align: center;
  backdrop-filter: blur(8px);
  padding: 20px 0px 20px 20px;
  margin-bottom: -10px;
}

  .cartItems {
    width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   backdrop-filter: blur(7px);
   
 
  }
  .pro-cart{
    width: 400px;
    height: 300px;
    margin:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(109, 109, 109);
    box-shadow: 8px 4px 20px 5px rgba(0,0,0,0.5);
  }
  .cartItems img {
    width: 200px;
    height: 100px;
    padding: 10px;

  }
  .description p{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right:10px ;
   
  }
  .countHandler{
    margin-bottom: 10px;
  }
  .countHandler button{
    border:none;
    height: 30px;
    width: 30px;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    color:rgb(231, 169, 69) ;
  }
 .checkout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 }
 .checkout p{
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    background-color:rgb(231, 169, 69);
    color: white;
    backdrop-filter: blur(7px);
 }
 .ctBtn{
  width: 250px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 20px 5px 20px;
  background-color: rgb(231, 169, 69);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  backdrop-filter: blur(7px);
  transition: 1s;
 }
 .ctBtn:hover{
  letter-spacing: 2px;
 }